<!DOCTYPE html>
<html lang="en" ng-app="InternetGis">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles/layout.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
  <script src="scripts/notify.min.js"></script>

  <!-- <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader"></script> -->
  <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
  <script src="scripts/controllers.js"></script>
  <title>Поиск оптимального пути</title>
</head>

<body ng-controller="MainCtrl">
  <div id="content">
    
    <div id="map"></div>

    <div id="control_panel">
      <h2 class="page-header">Панель управления</h2>
      
      <!-- Блок выбора пункта А и Б -->
      <div id="salesman-box" class="form-group">
        <label><em>Введите адрес</em></label>
        <!-- Начальная точка А -->
        <div class="input-group">
          <span ng-click="" class="input-group-addon" id="basic-addon1">
            A
          </span>
          <input id="start-point-select" class="form-control" ng-model="startPoint.address" placeholder="откуда" aria-describedby="basic-addon">
        </div>

        <!-- Конечная точка Б -->
        <div class="input-group">
          <span ng-click="" class="input-group-addon" id="basic-addon1">
            Б
          </span>
          <input id="end-point-select" class="form-control" ng-model="endPoint.address"  placeholder="куда" aria-describedby="basic-addon">
        </div>        

      </div>

      <h3 ng-click="hideMarkers()">Куда заехать?</h3> 
      <div class ="input-group" id="search-box">

        <input id="rubric-search" ng-model="newRubric" type="text" class="form-control" placeholder="аптека, автомойка, кафе..." aria-describedby="basic-addon">
        </input>
        <span class="input-group-btn">
          <button ng-click="addRubric()" class="btn btn-default" type="button">
            <i class="fa fa-thumb-tack"></i>
          </button>
        </span>
      </div>
      
      <div id="rubrics-list-container">
        <ul id="rubrics-list" class="list-group">
          <li class="rubric list-group-item" ng-repeat="rubric in rubrics">
            <span ng-click="getObjectsForRubric(rubric)" class="rubricName">{{rubric}}</span>
            <div class="remove-rubric-container">
              <div class="remove-rubric fa fa-times" ng-click="removeRubric($index)"></div>
            </div>
          </li>       
        </ul>
      </div>


      <button id="b-calculate" ng-click="getObjectsForRubricList()" class="btn btn-primary">Перестроить маршрут</button>   
    </div>

  </div>  
</body>
</html>